.hat_style {
  	margin-top: 10px;
  	margin-left: 265px;
    width: 50%;
    position: absolute;
    z-index: +1;
}

.octopus_style {
	margin-left: 280px;
	margin-top: 50px;
    width: 50%;
    z-index: -1;
    position: absolute; 
    top: 40px; 
}

.glasses_style {
	margin-left: 320px;
	margin-top: 180px;
    width: 50%;
    position: absolute;
    z-index: +1;
}